.cardBody {
    padding: 8px;
}


.cardBody > p {
    margin-bottom: 5px;
}

.cardEmail {
    width: 128px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media only screen and (min-width: 1900px) {
    .cardEmail {
        width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}