.contentContainer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 8px;
}

.headerContainer {
  padding-bottom: 24px;
}

.form {
  min-width: 250px;
  max-width: 330px;
}

.info {
  padding-bottom: 12px;
}
